<div id="home">
  <div class="container">
    <div id="wrapper">
      <div class="row"> 
        <div class="card col" style="width: 18rem;">
          <img src="https://logo.clearbit.com/philadelphiaeagles.com" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Eagles News</h5>
            <p class="card-text">Get the latest news on the Philadelphia Eagles</p>
            <a href="/api/scrape/eagles" class="btn btn-success">NFL News</a>
          </div>
        </div>
        <div class="card col" style="width: 18rem;">
          <img src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_80x64/phi.gif" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">76ers News</h5>
            <p class="card-text">Get the latest news on the Philadelphia 76ers. In Progress.</p>
            <a href="/api/scrape/sixers" class="btn btn-primary">NBA News</a>
          </div>
        </div>
        <div class="card col" style="width: 18rem;">
          <img src="https://www-league.nhlstatic.com/nhl.com/builds/site-core/80ac5d837e089a5cc32a2b504958401841debdf9_1575321178/images/logos/team/current/team-4-light.svg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Flyers News</h5>
            <p class="card-text">Get the latest news on the Philadelphia Flyers. In Progress.</p>
            <a href="/api/scrape/flyers" class="btn btn-dark">NHL News</a>
          </div>
        </div>
      </div>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>

  </div>
</div>

